<html>

<head>
    {% include "superior/fmhbootstrap.html" %}
</head>

<style>
    #barraFooter{
        max-width: 100%;
        background-color: rgba(116, 130, 143, 0.973);
        text-align:initial;
        font-size: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:rgb(236, 231, 231);
        padding: 8px;
    }

</style>

<body>
<footer>
    <div class="container" id="barraFooter">
        <div class="row">
            <div class="col col-2" id="primera">
                <p>Versión 1.0</p>
                <strong>
                <small style="color: rgb(7, 7, 7);">© TODOS LOS DERECHOS RESERVADOS</small>
                </strong>
            </div>
            <div class="col col-2" id="segunda"></div>
        </div>
    </div>
</footer>
</body>
</html>