{% extends "Superior/fmhbaseOpciones.html" %}

{% block title %}Actualizacion{% endblock %}

{% load humanize %}

{% block content %}

{% load static %}

<!--<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">-->

<style>

    #style_titP{
        color: rgb(53, 40, 40);
        font: normal 12px Trebuchet MS;
        padding-top: 5px;
        text-align: left;
    }

    #style_tit{
        color: rgb(53, 40, 40);
        font: bold 12px Trebuchet MS;
        padding-left: 3px;
    }

    #campos{
        background-color: whitesmoke;
        border-style: inset;
        color: black;
        font: normal 12px Trebuchet MS;
        height: 24px;
        padding: 2px;
        margin-left: 13px;
    }

    /* Campos del Formulario */
    #id_id{
        color: red;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 13px;
    }

    #id_ingcodtipo{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 13px;
        color: rgb(105, 104, 104);
    }

    #id_ingGlosa{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 13px;
        color: rgb(105, 104, 104);
    }

    #id_ingValor{
        font: normal 13px Trebuchet MS;
        color: black;
        width: 150px;
        text-align: right;
    }

    #style_titDer{
        color: rgb(53, 40, 40);
        font: bold 12px Trebuchet MS;
        padding-left: 120px;
    }

</style>

<script>

    function Valida(miForm) {
        valor=document.getElementById("id_ingValor").value

        if (isNaN(valor)) {
            alert('ATENCIÓN. El Monto $ ingresado debe ser numérico');
            document.getElementById('id_ingValor').value = '';
            document.miForm.id_ingValor.focus()
            return false;
            }
        else {
            if (valor<=0) {
                alert('ATENCIÓN. Monto $ ingresado debe ser Mayor a 0');
                document.getElementById('id_ingValor').value = '';
                document.miForm.id_ingValor.focus()
                return false;
                }
        }
        return true;
        }

</script>

<!-- Sub-Titulo -->
<div class="row" id="barraSubTitulo">
    <div class="col col-6" id="primera">ACTUALIZACIÓN DE INGRESOS</div>
</div>

<div class="form-group">
<form method="POST" name="miForm" onsubmit="return Valida(this);">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <br>
    <!-- Grupo 1 -->
    <div class="form-group">
        <div class="container">
            <!-- Período -->
            <div class="row">
                <div id="style_titP" class="col col-1"><label>Periodo</label></div>
                <div id="style_titP" class="col col-3"><label>&nbsp;&nbsp;&nbsp;Mes</label></div>
            </div>
            <div class="row">
                <div class="col col-1" id="campos">{{ Periodo }}</div>
                <div class="col col-3" id="campos">{{ Mes }}</div>
            </div>
        </div>
    </div>

    <!-- Grupo 2 -->
    <div class="form-group">
        <div class="container">
            <hr>
            <!-- ID -->
            <div class="row">
                <div class="col col-4">
                    <div id="style_tit"><label>ID</label></div>
                    {{ form.id.errors }}
                    {{ form.id }}
                </div>
            </div>
        </div>
    </div>

    <!-- Grupo 3 -->
    <div class="form-group">
        <div class="container">
            <!-- Tipo de Ingreso -->
            <div class="row">
                <div class="col col-4">
                    <div id="style_tit"><label>Tipo de Ingreso</label></div>
                    {{ form.ingcodtipo.errors }}
                    {{ form.ingcodtipo }}
                </div>
                <div class="col col-6">
                    <div id="style_tit"><label>Concepto</label></div>
                    {{ form.ingGlosa.errors }}
                    {{ form.ingGlosa }}
                </div>
            </div>
        </div>
    </div>

    <!-- Grupo 4 -->
    <div class="form-group">
        <div class="container">
            <!-- Monto Ingreso -->
            <div class="row">
                <div class="col col-4">
                    <div id="style_titDer"><label>Valor</label></div>
                    {{ form.ingValor.errors }}
                    {{ form.ingValor }}
                </div>
            </div>
        </div>
    </div>

    <!-- Grupo Submit -->
    <div class="form-group">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <button type="submit" class="btn btn-success btn-sm button-width">Actualizar</button>
                    <a href="{% url 'gestionIngreso' %}" class="btn btn-primary btn-sm button-width">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
    
</form>
</div>

{%  endblock %}