{% extends "Superior/fmhbaseOpciones.html" %}

{% block title %}Listado de Ingresos{% endblock %}

{% load humanize %}

{% block content %}

<style>

    #scrollTable table{
        max-width: 100%;
        font-size: 12px;
        border: 1px solid gray;
    }

    #scrollTable{
        overflow-y: scroll;
        overflow-x: scroll;
        height: 460;
    }

    thead th{
        position: sticky;
        top: 0;
        background-color: rgb(93, 125, 161);
        color: rgb(248, 248, 244);
    }

</style>

<!--Funcionamiento Modal -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<!-- Sub-Titulo -->
    <div class="row" id="barraSubTitulo">
        <div class="col col-1" id="primera">REGISTROS INGRESADOS</div>
    </div>
    <br>
    <div class="container">

        {% if listing %}
        <div id="scrollTable">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>#ID</th>
                <th>Año</th>
                <th>Mes</th>
                <th>Tipo de Ingreso</th>
                <th>Descripción</th>
                <th>Monto $</th>
<!--                <th style="text-align: center; background-color: rgb(62, 108, 158);" colspan="2">SELECCIONE OPCIÓN</th>-->
              </tr>
            </thead>
            <tbody>
                {% for listado in listing %}
              <tr>
                <td><strong>{{listado.id}}</strong></td>
                <td>{{listado.ingango}}</td>
                <td>{{listado.ingmes}}</td>

                {% if listado.ingcodtipo == 'ING01' %}   <td>Sueldos</td>
                {% elif listado.ingcodtipo == 'ING02' %} <td>Retornos</td>
                {% elif listado.ingcodtipo == 'ING03' %} <td>Bonos</td>
                {% elif listado.ingcodtipo == 'ING04' %} <td>Otros</td>
                {% else %} <td>Codigo No Definido</td>
                {% endif %}

                <td>{{listado.ingGlosa}}</td>
                <td>{{listado.ingValor|intcomma}}</td>
              </tr>

              {%endfor %}

            </tbody>
          </table>
        </div>
        {% else %}
            <h2>No existe periodo</h2>
        {% endif %}

        <br>
        <hr>
        <div class="form-group">
            <div id="outer">
                <div class="inner"><a href="{% url 'fmhIngreso' %}" class="btn btn-primary button-width-me">Nuevo Ingreso</a></div>
                <div class="inner"><a href="{% url 'gestionHogar' %}" class="btn btn-primary button-width">Inicio</a></div>
            </div>
        </div>

    </div>

{%  endblock %}